@font-face {
    font-family: 'Lemon Milk';
    src: url('/public/LEMONMILK-Bold.otf');
}

body{
    background-repeat: no-repeat;
    background-image: url('/public/A.jpg');
    background-size: 100%;
}    

.signup-box{

    border: 2px solid rgb(27, 7, 214);
    border-radius: 10px;
    width: 600px;
    height : 500px  auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(201, 236, 236);
    

}

.signup-box h2{
    font-family: 'Lemon Milk';
    font-size: 30px;
    color : rgb(27, 7, 214);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}


.signup-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
}



.link{
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Lemon Milk';
    letter-spacing: 1px;
}
/* Mobile styles */
@media (max-width: 600px) {
    .signup-box {
        width: 100%;
        padding: 10px;
    }

    .signup-container {
        margin: 40px ;
        margin-top: 30%;
    }

    .link {
       
        font-size: 15px;
       
    }
    body{
        background-repeat: no-repeat;
        background-image: url('/public/B.png');
        background-position-y: center;
    }
}

